{% extends 'base.html' %}
{% load static %}

{% block title %} About {% endblock title %}
{% block content %}

    <div class="container d-flex justify-content-center">
        <div class="card my-5 w-50">
            <div class="card-title d-flex justify-content-center my-5">
                <h1 class="">About Me</h1>
            </div>
            <img src="/static/images/6C122E16-0AF3-4DC9-83A9-53083FEE0189_1_105_c.jpeg" class="card-img-top d-flex justify-content-center img-fluid" alt="...">
                <div class="card-body d-flex justify-content-center">
                    <p class="justify-content-center">Hi, my name is Phil and I am a rock climbing, scuba diving fiend who programs on the side.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}