{% extends 'base.html' %}

{% block title %}Post{% endblock %}

{% block content %}

        <div class="card m-4">
            <h5 class="card-header">Post #{{post.id}}</h5>
            <div class="card-body">
                <h6 class="card-subtitle">{{ post.title }}</h6>
                <p class="card-text">{{ post.body }}</p>
                <div class="btn-group mb-3">
                    <a class="btn btn-outline-info" href="{% url 'update_post' post.id %}">edit</a>
                    <a class="btn btn-outline-danger " href="{% url 'del_post' post.id %}">delete</a>
                </div>
                <div class="card-footer">
                    <p class="text-muted">posted by: {{ post.author | title }} on {{ post.created_on }} </p>
                </div>
            </div>
        </div>


{% endblock %}